---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<link href="/styles/darkmode.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <button id="dark-mode-toggle">Toggle Dark Mode</button>
  {{ content }}

  <script>
      // Check for saved user preference, if any, on load of the website
      window.onload = function() {
          const savedMode = localStorage.getItem('dark-mode');
          if (savedMode && savedMode === 'enabled') {
              document.body.classList.add('dark-mode');
          }
      }

      // Toggle dark mode
      document.getElementById('dark-mode-toggle').onclick = function() {
          document.body.classList.toggle('dark-mode');
          if (document.body.classList.contains('dark-mode')) {
              localStorage.setItem('dark-mode', 'enabled');
          } else {
              localStorage.setItem('dark-mode', 'disabled');
          }
      }
  </script>

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>